@import "../../../styles/colors.theme.scss";
@import "../../../styles/style.theme.scss";

div {
  vertical-align: middle;
  justify-content: center;
  top: 85%;
  left: 50%;
}

.container {
  display: flex;
  height: 100px;
  width: 50px;
  position: fixed;
}

p {
  position: absolute;
  margin-top: 65px;
  font-size: .9em;
  color: $white;
  width: 200px;
  text-align: center;
  animation: 'pulse' 2s infinite;
}
