@import "../../../styles/colors.theme.scss";
@import "../../../styles/style.theme.scss";

.col-1 {
  display: none;
  position: fixed;
  top: 40%;
  right: 30%;
  text-align: center; 
  justify-content: center;
  vertical-align: center;
  transform-origin: left;
  transform: scale(.9) rotateZ(-45deg);
  width: 600px;
  height: 200px;
  margin: 0px;
  cursor: pointer;

  a:hover {
    cursor: pointer;
    z-index: 1;
    transform: skew(200.25deg);
    background: rgba(15, 15, 15, .3);
    border: $dark;
    color: $dark;
    transform: scale(1.2)
  }

  .box {
    border: 1px $light solid;
    flex: 1;
  }

  #box-1 {
    transform: scale(1.5, 1.5)
  }

  #box-2 {
    transform: scale(.5, .5) translate(0px, 200px);
  }

  #box-3 {
    transform: scale(.5, .5) translate(0px, -200px);
  }

  h2, p {
    color: $white;
  }

  h2:hover,
  p:hover {
    color: $light;
  }

  h2 {
    font-size: 32pt;
    transform: rotateZ(45deg) scale(.75) translate(10px, 27.5px)
  }

  p {
    display: table;
    transform: rotateZ(45deg) scale(.65) translate(-50px, -125px);
  }

  .later {
    color: transparent;
  }

  h1 {
    color: $white;
    transform: rotateZ(45deg) scale(1) translate(-20px, 0px);
    width: 50%;
    height: 75%;
  }
  
  h1:hover {
    color: $dark * .2;
  }

}

.follow {
  position: absolute;
  height: 30px;
  width: 30px;
  background: transparent;
  border: 1px $light solid;
  transform: rotateZ(45deg)
}