<div class="col-1">
    <a (click)="link()" class="box" id="box-2">
      <h2 class="text" id="projects-header-link">Projects</h2>
    </a>
  <a (click)="link()" class="box" id="box-1">
    <h1 class="text" id="head-title">{{ name }}Nate Swift</h1>
    <p class="text">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. </p>
  </a>
  <a (click)="link()" class="box" id="box-3">
    <h2 class="text" id="portfolio-header-link">Portfolio</h2>
  </a>
</div>

<div (mousemove)="follow()" class='follow'></div>