@import "../../../styles/colors.theme.scss";
@import "../../../styles/style.theme.scss";

.col-1 {
  display: none;
  position: fixed;
  top: 40%;
  right: 30%;
  text-align: center;
  justify-content: center;
  vertical-align: center;
  transform-origin: left;
  transform: scale(.9) rotateZ(-45deg);
  width: 550px;
  height: 250px;
  margin: 0px;
  cursor: pointer;

  a:hover {
    cursor: pointer;
    z-index: 1;
    transform: skew(200.25deg);
    border: $dark;
    color: $dark;
    transform: scale(1.2)
  }

  .box {
    border: 2px $light solid;
    flex: 1;
  }

  #box-1 {
    transform: scale(1.5, 1.5);
    border-left: $white;
    border-bottom: $white;
  }

  #box-2 {
    transform: scale(.65, .65) translate(-30px, -275px);
    border: 4px $light solid;
    border-bottom: $white;
    border-left: $white;
  }

  #box-3 {
    transform: scale(.65, .65) translate(25px, 125px);
    border: 4px $light solid;
    border-bottom: $white;
    border-left: $white;
  }

  h2,
  h3 {
    color: $white;
  }

  h2 {
    font-size: 34pt;
    transform: rotateZ(45deg) scale(.75) translate(20px, 20px)
  }

  h3 {
    display: table;
    margin-bottom: 50px;
    transform: rotateZ(45deg) scale(.5) translate(-50px, -125px);
  }

  .later {
    color: transparent;
  }

  h1 {
    font-family: 'Permanent Marker', cursive;
    letter-spacing: -.01em;
    line-height: .95em;
    font-size: 3em;
    padding-right: 20px;
    color: $white;
    transform: rotateZ(35deg) scale(1) translate(-20px, 0px);
    width: 60%;
    height: 65%;
    margin-top: 10px;
    margin-left: 40px;
    text-align: center;
  }

  h1:hover {
    color: $dark * .2;
  }

}

.follow {
  position: absolute;
  height: 30px;
  width: 30px;
  background: transparent;
  border: 1px $light solid;
  transform: rotateZ(45deg)
}
