@import "./styles/colors.theme.scss";

/* normalize */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2000px;
    background-image: url("../src/assets/images/roof2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: $light;
}